{% load static %}
<!DOCTYPE html>
  <html lang="ru">
  <head>
      <meta charset="UTF-8">
      <title>Главная</title>
      <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <h1 class="welcome">Добро пожаловать!</h1>
    <h2 class="homework_text">Вот ссылки на страницы с ДЗ:</h2>
    <a href="{% url 'json_book' 23 %}" class="links">23-ая книга API</a>
    <a href="{% url 'json_all_books' %}" class="links">Все книги API</a>
    <a href="{% url 'all_books' %}" class="links">Все книги</a>
    <a href="{% url 'book 23' %}" class="links">23-ая книга</a>
  </body>
</html>